body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search-container {
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

.stage-button-bar {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stage-button {
  flex-grow: 1;
  padding: 0.3em;
  border-top: 0.2em solid rgba(0, 0, 0, 0);
  border-bottom: 0.2em solid rgba(0, 0, 0, 0);
  border-right: 0.14em solid rgba(0, 0, 0, 0);
  border-left: 0.14em solid rgba(0, 0, 0, 0);
}

.event {
  padding: 1em;
}

.selected-event {
  text-transform: uppercase;
}

.btn:focus,
.btn:active,
.btn:hover {
  outline: none;
  box-shadow: none;
}

.show-stage {
  text-transform: uppercase;
  font-weight: 800;
}

.stage-button-bar > .galaxy {
  background-color: rgba(158, 197, 233, 1);
}
.galaxy.selected-event {
  background-color: rgba(158, 197, 233, 0.4);
}
.stage-button-bar > .lucky {
  background-color: rgba(252, 234, 124, 1);
}
.lucky.selected-event {
  background-color: rgba(252, 234, 124, 0.4);
}
.stage-button-bar > .mthood {
  background-color: rgba(210, 106, 98, 1);
}
.mthood.selected-event {
  background-color: rgba(210, 106, 98, 0.4);
}
.stage-button-bar > .starlight {
  background-color: rgba(185, 151, 255, 1);
}
.starlight.selected-event {
  background-color: rgba(185, 151, 255, 0.4);
}
.stage-button-bar > .treeline {
  background-color: rgba(255, 117, 42, 1);
}
.treeline.selected-event {
  background-color: rgba(255, 117, 42, 0.4);
}
.stage-button-bar > .wood {
  background-color: rgba(178, 222, 101, 1);
}
.wood.selected-event {
  background-color: rgba(178, 222, 101, 0.4);
}
