body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  width: 100vw;
}

.hero {
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/pickathon.png');
  background-size: cover;
  height: 18em;
  display: flex;
}

.hero-content {
  margin: auto;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: 1vw;
  margin-block-end: 0;
  text-transform: uppercase;
}

h2 {
  text-transform: lowercase;
}

.search-container {
  display: flex;
}

.search-input {
  width: 100vw;
}

.results {
  padding: 0 8px;
  height: 60vh;
  overflow: scroll;
}

.results-empty {
  text-align: center;
}

.stage-button-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stage-button {
  font-family: monospace;
  flex-grow: 1;
  padding: 0.3em;
  border: 0;
  font-size: 1em;
  padding: 1em;
}

.event {
  padding: 1em;
}

.selected-event {
  text-transform: uppercase;
}

.btn:focus,
.btn:active,
.btn:hover {
  outline: none;
  box-shadow: none;
}

.show-stage {
  text-transform: uppercase;
  font-weight: 800;
}

.stage-button-bar > .galaxy {
  background-color: rgba(158, 197, 233, 1);
}
.galaxy.selected-event {
  background-color: rgba(158, 197, 233, 0.4);
}
.stage-button-bar > .lucky {
  background-color: rgba(252, 234, 124, 1);
}
.lucky.selected-event {
  background-color: rgba(252, 234, 124, 0.4);
}
.stage-button-bar > .mthood {
  background-color: rgba(210, 106, 98, 1);
}
.mthood.selected-event {
  background-color: rgba(210, 106, 98, 0.4);
}
.stage-button-bar > .starlight {
  background-color: rgba(185, 151, 255, 1);
}
.starlight.selected-event {
  background-color: rgba(185, 151, 255, 0.4);
}
.stage-button-bar > .treeline {
  background-color: rgba(255, 117, 42, 1);
}
.treeline.selected-event {
  background-color: rgba(255, 117, 42, 0.4);
}
.stage-button-bar > .wood {
  background-color: rgba(178, 222, 101, 1);
}
.wood.selected-event {
  background-color: rgba(178, 222, 101, 0.4);
}

@media (max-width: 600px) {
  .hero {
    height: 15em;
  }
  .stage-button {
    padding: 0.7em;
  }
}
